:root {
    --body-bg: linear-gradient(225deg, #2B2D42, #343650);
    --msger-bg: #1E1E2C;
    --border: 2px solid #FF69B4;
    --left-msg-bg: #FF69B4;
    --right-msg-bg: #4A4E69;
    --input-bg: #2D2F3A;
    --input-text: #FFC1E3;
    --button-bg: #FF1493;
    --button-hover: #FF69B4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: var(--body-bg);
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

.msger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: 10px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.5);
}

.msger-header {
    font-size: medium;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-bottom: var(--border);
    background: #28293E;
    color: #FF69B4;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #1E1E2C;
}

.msg-bubble {
    max-width: 70%;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
    background: var(--left-msg-bg);
    color: #FFF;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #FFC1E3;
    border-bottom-right-radius: 0;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #28293E;
}

.msger-input {
    flex: 1;
    background: var(--input-bg);
    color: var(--input-text);
    border-radius: 20px;
    border: 1px solid #FF69B4;
    padding: 10px;
    margin-right: 10px;
}

.msger-send-btn {
    background: var(--button-bg);
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: var(--button-hover);
}
